:root {
    --primaryColor: #ce571d;
    --secondaryColor: #beaf97;
    /* khaki */
    --thirdColor: #61A77D;
    /* green */
    --bodyBGR: #e8e5e5;
    --coinListHead: var(--secondaryColor);
    --settingsBGR: #e8e5e5;
    --h1color: black;
    --h2color: #000;
    --h3color: white;
    --textColorSettings: black;
    --listBGR1: lightgrey;
    --listBGR2: #bfbfbf;
    --listTextColor: #252525;
    --iActive: var(--primaryColor);
    --iInActive: #000;
    --countdownColor: #000;
    --inputActiveFilter: none;
    --inputActiveBGR: var(--thirdColor);
    --scrollbarColor: #928269;
    --questionmark: #352525;
    --plusButton: #333;
    --questionmarkText: #fff;
    --menuActiveShadow: rgba(206, 87, 29, 0.8);
    --headTooltipBGR: #beaf97;
    --headTooltipText: #000;
    --infoBarValueColor: #000;
    --infoBarTitleColor: #2b2626;
    --menuBarBGR: linear-gradient(130deg, #beaf97 0%, #6e7479 100%);
    --settingsMenuTextColor: #000;
    --settingsMenuTextActiveColor: #000;
    --inputBorderBottomFocus: #086b07;
    --backgroundPL: linear-gradient(130deg, #beaf97 0%, #6e7479 100%);
}
:root.dark {
    --primaryColor: #ce571d;
    /* orange */
    --secondaryColor: #beaf97;
    /* khaki */
    --thirdColor: #61A77D;
    /* green */
    --bodyBGR: #181c1f;
    --coinListHead: #151517;
    --settingsBGR: rgb(24, 28, 31);
    --h1color: white;
    --h2color: #dadada;
    --h3color: white;
    --textColorSettings: white;
    --listBGR1: #212429;
    --listBGR2: #2f3238;
    --listTextColor: #c2c2c2;
    --iActive: var(--primaryColor);
    --iInActive: #585454;
    --countdownColor: var(--listTextColor);
    --inputActiveFilter: none;
    --inputActiveBGR: var(--thirdColor);
    --scrollbarColor: var(--primaryColor);
    --questionmark: var(--secondaryColor);
    --plusButton: #333;
    --questionmarkText: #000;
    --menuActiveShadow: rgba(206, 87, 29, 0.30);
    --headTooltipBGR: #1f2326;
    --headTooltipText: #fff;
    --infoBarValueColor: #f0f4f7;
    --infoBarTitleColor: #7b7b7b;
    --menuBarBGR: linear-gradient(130deg, rgba(72, 77, 80, 1) 0%, rgba(31, 35, 38, 1) 100%);
    --settingsMenuTextColor: #7b7b7b;
    --settingsMenuTextActiveColor: #fff;
    --inputBorderBottomFocus: var(--thirdColor);
    --backgroundPL: linear-gradient(130deg, rgba(72, 77, 80, 1) 0%, rgba(31, 35, 38, 1) 100%);
}